{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Pasek "O nas"-->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">O nas</h5>
    <div class="card-body">
        <p class="card-text"> Dawid Chojak | Marcin Pazdoł. <br> Blog osobisty</p>
        <a href="#"
           class="btn btn-danger">Dowiedz się więcej!</a>
    </div>
</div>
</div>

{% endblock sidebar %}